email=misriniv@cisco.com
always-auth=true
registry=https://engci-maven-master.cisco.com/artifactory/api/npm/unified-ui-platform-npm/
//engci-maven-master.cisco.com/artifactory/api/npm/unified-ui-platform-npm/:_auth="bWlzcmluaXY6Y21WbWRHdHVPakF4T2pFM05ERXdPVE00T1RrNlFYTlBPVWsxTXpBM1ZsazFiR3RYZFd4c1Z6TnNibkZtVGxkWQ=="