.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.dropdown-container {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: row;
}

.tab-buttons-container {
    flex: 5;
    display: flex;
    flex-direction: row;
}

.buttons-container {
    flex: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}
