:root{
  --header-height: 50px;
  --nav-width: 50px;
  --common-control-height: 50px;
  --header-background-color: #fff;
  --nav-background-color: #fff;
  --tasks-background-color: #F7F7F7;
  --common-control-background-color: #fff;
  --contact-history-background-color: #EDEDED;
}

.landing-page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: var(--nav-width) auto auto;
  grid-template-rows: var(--header-height) auto auto;
  grid-template-areas: 'title-header title-header header header'
                        'nav tasks common-control common-control'
                        'nav contact-history common-control common-control';
  background-color: var(--contact-history-background-color);
}

.title-header {
  grid-area: title-header;
  background-color: var(--header-background-color);
  max-height: var(--header-height);
  display: flex;
}
.header {
  grid-area: header;
  background-color: var(--header-background-color);;
  max-height: var(--header-height);
  display: flex;
}
.nav{
  grid-area: nav;
  background-color: var(--nav-background-color);
  max-width: var(--nav-width);
}
.tasks{
  grid-area: tasks;
  background-color: var(--tasks-background-color);
}
.common-control{
  grid-area: common-control;
  background-color: var(--common-control-background-color);
  margin: 4px;
}
.contact-history{
  grid-area: contact-history;
  background-color: var(--contact-history-background-color);
}