.header-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8px;
    gap: 8px;
}

.header-left-heading {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    color: #121212;
}
